<!DOCTYPE html>
<html>
<head>
    <title>Formularz wyboru symbolu akcji</title>
</head>
<body>
    
    <h1>Dodawanie symbolu</h1>

    <form method="POST" action="/add_symbol">
        <label for="symbol">Symbol:</label>
        <input type="text" id="symbol" name="symbol" required>

        <button type="submit">Dodaj</button>
    </form>

    {% if komunikat %}
        {% if komunikat != "" %}
            <p>{{ komunikat }}</p>
        {% endif %}
    {% endif %}


    <h1>Formularz wyboru symbolu akcji</h1>

    <form id="stockForm">
        <label for="symbol">Wybierz symbol akcji:</label>
        <select name="symbol" id="symbol">
            {% for symbol in symbols %}
            <option value="{{ symbol }}">{{ symbol }}</option>
            {% endfor %}
        </select>
    </form>

    <div id="plotContainer">
        <!-- Tutaj będzie wyświetlany wygenerowany wykres -->
    </div>

    <script>
        // Funkcja obsługująca zmianę wyboru symbolu
        function handleSymbolChange() {
            // Pobierz wartość wybranego symbolu
            var selectedSymbol = document.getElementById("symbol").value;

            // Wyślij żądanie do serwera
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/generate_plot?symbol=" + selectedSymbol, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    // Odbierz odpowiedź z nazwą wygenerowanego pliku obrazu
                    var plotFileName = xhr.responseText;
                    // Zaktualizuj źródło obrazu na stronie
                    var plotImage = document.createElement("img");
                    plotImage.src = "/static/plots/" + plotFileName;
                    plotImage.alt = "Wygenerowany wykres";
                    document.getElementById("plotContainer").innerHTML = "";
                    document.getElementById("plotContainer").appendChild(plotImage);
                }
            };
            xhr.send();
        }

        // Dodaj nasłuchiwanie na zmianę wyboru symbolu
        document.getElementById("symbol").addEventListener("change", handleSymbolChange);
    </script>
</body>
</html>