<!DOCTYPE html>
<html>
<head>
    <title>Formularz wyboru symbolu akcji</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <div class="new-action">
        <h1>Dodawanie nowej akcji</h1>
        <div class="form-group field">
            <form method="POST" action="/add_symbol" class="form-inside">
                <input type="text" id="addSymbol" class="form-field" name="addSymbol" placeholder="Symbol akcji" required>
                <label for="addSymbol" class="form-label">Symbol akcji</label>
                <button type="submit" class="form-button">Dodaj</button>    
            </form>
        </div>
    {% if komunikat %}
        {% if komunikat != "" %}
            <div id= "komunikat">{{ komunikat }}</div>
        {% endif %}
    {% endif %}
    </div>

    <div class="divider"></div>
    <div class="chart-action">
        <h1>Formularz wyboru symbolu akcji</h1>
        <form id="stockForm">
            <label for="selectbox" class="form-chart">Wybierz symbol akcji:</label>
            <select id="selectbox" class="form-select" onchange="updatePlotly()">
                <option disabled selected value="">Wybierz symbol</option>
                {% for symbol in symbols %}
                <option value="{{ symbol }}">{{ symbol }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
    
    <div class="plotContainer" id="plotContainer">
        <img src="placeholder.png">
    </div>
    <script>

        function updatePlotly() {
            var selectbox = document.getElementById('selectbox');
            var selectedSymbol = selectbox.value;
            if (selectedSymbol !== undefined) {
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "/static/plots/" + selectedSymbol + ".html", true);
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4 && xhr.status === 200 || xhr.status === 304 ) {
                        $('#plotContainer').html(xhr.responseText);
                    }
                };
            xhr.send();
            }

        }
    </script>
</body>
</html>