<!DOCTYPE html>
<html>
<head>
    <title>Formularz wyboru symbolu akcji</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    
    <h1>Dodawanie symbolu</h1>

    <form method="POST" action="/add_symbol">
        <label for="addSymbol">Symbol:</label>
        <input type="text" id="addSymbol" name="addSymbol" required>

        <button type="submit">Dodaj</button>
    </form>

    {% if komunikat %}
        {% if komunikat != "" %}
            <p>{{ komunikat }}</p>
        {% endif %}
    {% endif %}


    <h1>Formularz wyboru symbolu akcji</h1>

    <form id="stockForm">
        <label for="selectbox">Wybierz symbol akcji:</label>
        <select id="selectbox" onchange="updatePlotly()">
            <option disabled selected value="">Wybierz symbol</option>
            {% for symbol in symbols %}
            <option value="{{ symbol }}">{{ symbol }}</option>
            {% endfor %}
        </select>
    </form>

    <div id="plotContainer">

    </div>

    <script>

        function updatePlotly() {
            var selectbox = document.getElementById('selectbox');
            var selectedSymbol = selectbox.value;
            if (selectedSymbol !== undefined) {
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "/static/plots/" + selectedSymbol + ".html", true);
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4 && xhr.status === 200 || xhr.status === 304 ) {
                        $('#plotContainer').html(xhr.responseText);
                    }
                };
            xhr.send();
            }

        }
    </script>
</body>
</html>